{% extends "layout.html" %}
{% block content %}

<form action="/result" method="POST">
	Valitse hinta
	<p>
	<input type="checkbox" name="kustannus" value="1"> Ilmainen
	<input type="checkbox" name="kustannus" value="2"> Edullinen
	<input type="checkbox" name="kustannus" value="3"> Kallis
	<p>
	Valitse kategoria
	<p>
	<input type="checkbox" name="kategoria" value="1"> Nautinto
        <input type="checkbox" name="kategoria" value="2"> Viihde
        <input type="checkbox" name="kategoria" value="3"> Liikunta
	<input type="checkbox" name="kategoria" value="4"> Muu
	<p>
	Valitsetko itse vai arvotko?
	<p>
	<input type="radio" name="valinta" value="decide">Valitsen itse
	<input type="radio" name="valinta" value="random">Arvo
</form>



{% endblock %}

