{% extends "layout.html" %}
{% block content %}




<form action="/activity_list" method="POST">
	</a>
	Valitse hinta
	<p>
	<input type="checkbox" name="price" value="Ilmainen"> Ilmainen
	<input type="checkbox" name="price" value="Edullinen"> Edullinen
	<input type="checkbox" name="price" value="Kallis"> Kallis
	<p>
	Valitse kategoria
	<p>
	<input type="checkbox" name="category" value="Nautinto"> Nautinto
        <input type="checkbox" name="category" value="Viihde"> Viihde
        <input type="checkbox" name="category" value="Liikunta"> Liikunta
	<input type="checkbox" name="category" value="Muu"> Muu
	<p>
	Valitsetko aktiviteetin itse vai arvotko yhden?
	<p>
	<input type="radio" name="valinta" value="decide">Valitsen itse
	<input type="radio" name="valinta" value="random">Arvo
	<p>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"
<input type="submit" name="vahvistus" value="Vahvista valinta">
</a>
</form>

{% endblock %}

