{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>


<p>
<ul>
	<h3>Aktiviteetit</h3>
</ul>
Valitse aktiviteetti itse <a href="/choose">painamalla tästä</a>
<p>
<a href="/showall">Näytä kaikki aktiviteetit</a>

<ul>

</ul>

Arvo aktiviteetti <a href="/random">painamalla tästä</a> 

<ul>


</ul>
Luo uusi aktiviteetti <a href="/new">painamalla tästä</a>

<ul>
	<h3>Vaikutukset</h3>
</ul>

<a href="/all_effects">Näytä kaikkien aktiviteettien vaikutukset</a>



<ul>
	<h3>Mielialat</h3>
</ul>

Anna arvio tämänhetkisestä mielialastasi <a href="/moods">painamalla tästä</a>
<p></p>
Näytä mielialahistoriasi <a href="moodlists">painamalla tästä</a>


{% endif %}

{% if not session["username"] %}

Tervetuloa mielialasovellukseen. 
<p>
Jos sinulla on tunnus, kirjaudu sisään <a href="/login">tästä</a>
<p>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}

{% endblock %}
