{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>


<p>

Valitse aktiviteetti itse <a href="/choose">painamalla tästä</a>


<ul>

</ul>

Arvo aktiviteetti <a href="/random">painamalla tästä</a> 

<ul>


</ul>
Luo uusi aktiviteetti <a href="/new">painamalla tästä</a>

<ul>
	Anna arvio tämänhetkisestä mielialastasi <a href="/moods">painamalla tästä</a>

</ul>

{% endif %}

{% if not session["username"] %}

Tervetuloa mielialasovellukseen. 
<p>
Jos sinulla on tunnus, kirjaudu sisään <a href="/login">tästä</a>
<p>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}

{% endblock %}
