{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>


<p>

Valitse aktiviteetti itse <a href="/choose">painamalla tästä</a>


<ul>

</ul>

Arvo aktiviteetti <a href="/random">painamalla tästä</a> 

<ul>


</ul>
Luo uusi aktiviteetti <a href="/new">painamalla tästä</a>

{%else %}

Tervetuloa mielialasovellukseen. 

<form action="/login" method=POST">
	<p>Käyttäjätunnus:<br>
	<input type="text" name="username"></p>
	<p>Salasana:<br>
	<input type="password" name="password"></p>
	<input type="submit" value="Kirjaudu">
</form>

Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}
{% endblock %}
