{% extends "layout.html" %}
{% block content %}

<form action="/activity" method="POST">
	Nimi: <br>
	<textarea name="name" rows="1" cols="30"></textarea>
	<p>
	Valitse kategoria:
	<p>
	<input type="radio" name = "category" value="Nautinto"> Nautinto
	<input type="radio" name = "category" value="Viihde"> Viihde
	<input type="radio" name = "category" value="Liikunta"> Liikunta
	<input type="radio" name = "category" value="Muu"> Muu
	<p>
	Valitse kustannus:
	<p>
	<input type="radio" name = "price" value="Ilmainen"> Ilmainen
	<input type="radio" name = "price" value="Edullinen"> Edullinen
	<input type="radio" name = "price" value="Kallis"> Kallis
	<p>
	<input type="submit" value="Lisää aktiviteetti">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% endblock %}

