{% extends "layout.html" %}
{% block content %}

<form action="/create" method="POST">
	Nimi: <br>
	<textarea name="nimi" rows="1" cols="30"></textarea>
	<p>
	Valitse kategoria:
	<p>
	<input type="radio" name = "kategoria" value="Nautinto"> Nautinto
	<input type="radio" name = "kategoria" value="Viihde"> Viihde
	<input type="radio" name = "kategoria" value="Liikunta"> Liikunta
	<input type="radio" name = "kategoria" value="Muu"> Muu
	<p>
	Valitse kustannus:
	<p>
	<input type="radio" name = "kustannus" value="Ilmainen"> Ilmainen
	<input type="radio" name = "kustannus" value="Edullinen"> Edullinen
	<input type="radio" name = "kustannus" value="Kallis"> Kallis
	<p>
	<input type="submit" value="Lisää aktiviteetti">
	
</form>

{% endblock %}

